In [2]:
import pandas as pd

company1 = ('Rev','Rev','Rev','Rev','Rev','Rev','Rev','Rev','Rev')
df1 = pd.DataFrame(columns=None)
df1['company'] = company1
df1['clv']=[500,200,3000,400,10,300,560,500,600]
df1['date'] = [20191231,20191231,20191231,20181231,20181231,20181231,20171231,20171231,20171231 ]
df1['line'] = [1,3,2,1,3,2,1,3,2]
df1['segments'] =['BusSeg=Pharma;Geo=NonUs;Prd=Alpha;Subseg=Tr1',
                    'BusSeg=Dev;Prd=Alpha;Subseg=Tr1',
                    'BusSeg=Pharma;Geo=US;Prd=Alpha;Subseg=Tr2',
                    'Subseg=Tr1',
                    'BusSeg=Pharma',
                    'Geo=China;Prd=Alpha;Subseg=Tr4;',
                    'Prd=Beta;Subseg=Tr1',
                    'BusSeg=Pharma;Geo=US;Prd=Delta;Subseg=Tr1;',
                    'BusSeg=Pharma;Geo=NonUs;']
print("\ndf1:")
df1[['BusSeg','Geo','ProdServ','Sub','Misc']] = df1['segments'].str.split(';',expand=True)
print(df1)
print(df1[['BusSeg','Geo','ProdServ','Sub','Misc']])
print(df1.dtypes)
df1

df1:
  company   clv      date  line                                      segments  \
0     Rev   500  20191231     1  BusSeg=Pharma;Geo=NonUs;Prd=Alpha;Subseg=Tr1
1     Rev   200  20191231     3               BusSeg=Dev;Prd=Alpha;Subseg=Tr1
2     Rev  3000  20191231     2     BusSeg=Pharma;Geo=US;Prd=Alpha;Subseg=Tr2
3     Rev   400  20181231     1                                    Subseg=Tr1
4     Rev    10  20181231     3                                 BusSeg=Pharma
5     Rev   300  20181231     2               Geo=China;Prd=Alpha;Subseg=Tr4;
6     Rev   560  20171231     1                           Prd=Beta;Subseg=Tr1
7     Rev   500  20171231     3    BusSeg=Pharma;Geo=US;Prd=Delta;Subseg=Tr1;
8     Rev   600  20171231     2                      BusSeg=Pharma;Geo=NonUs;

          BusSeg         Geo    ProdServ         Sub  Misc
0  BusSeg=Pharma   Geo=NonUs   Prd=Alpha  Subseg=Tr1  None
1     BusSeg=Dev   Prd=Alpha  Subseg=Tr1        None  None
2  BusSeg=Pharma      Geo=US   Prd=Alpha  Subseg=Tr2  None
3     Subseg=Tr1        None        None        None  None
4  BusSeg=Pharma        None        None        None  None
5      Geo=China   Prd=Alpha  Subseg=Tr4              None
6       Prd=Beta  Subseg=Tr1        None        None  None
7  BusSeg=Pharma      Geo=US   Prd=Delta  Subseg=Tr1
8  BusSeg=Pharma   Geo=NonUs                    None  None
          BusSeg         Geo    ProdServ         Sub  Misc
0  BusSeg=Pharma   Geo=NonUs   Prd=Alpha  Subseg=Tr1  None
1     BusSeg=Dev   Prd=Alpha  Subseg=Tr1        None  None
2  BusSeg=Pharma      Geo=US   Prd=Alpha  Subseg=Tr2  None
3     Subseg=Tr1        None        None        None  None
4  BusSeg=Pharma        None        None        None  None
5      Geo=China   Prd=Alpha  Subseg=Tr4              None
6       Prd=Beta  Subseg=Tr1        None        None  None
7  BusSeg=Pharma      Geo=US   Prd=Delta  Subseg=Tr1
8  BusSeg=Pharma   Geo=NonUs                    None  None
company     object
clv          int64
date         int64
line         int64
segments    object
BusSeg      object
Geo         object
ProdServ    object
Sub         object
Misc        object
dtype: object

,company,clv,date,line,segments,BusSeg,Geo,ProdServ,Sub,Misc
0,Rev,500,20191231,1,BusSeg=Pharma;Geo=NonUs;Prd=Alpha;Subseg=Tr1,BusSeg=Pharma,Geo=NonUs,Prd=Alpha,Subseg=Tr1,None
1,Rev,200,20191231,3,BusSeg=Dev;Prd=Alpha;Subseg=Tr1,BusSeg=Dev,Prd=Alpha,Subseg=Tr1,None,None
2,Rev,3000,20191231,2,BusSeg=Pharma;Geo=US;Prd=Alpha;Subseg=Tr2,BusSeg=Pharma,Geo=US,Prd=Alpha,Subseg=Tr2,None
3,Rev,400,20181231,1,Subseg=Tr1,Subseg=Tr1,None,None,None,None
4,Rev,10,20181231,3,BusSeg=Pharma,BusSeg=Pharma,None,None,None,None
5,Rev,300,20181231,2,Geo=China;Prd=Alpha;Subseg=Tr4;,Geo=China,Prd=Alpha,Subseg=Tr4,,None
6,Rev,560,20171231,1,Prd=Beta;Subseg=Tr1,Prd=Beta,Subseg=Tr1,None,None,None
7,Rev,500,20171231,3,BusSeg=Pharma;Geo=US;Prd=Delta;Subseg=Tr1;,BusSeg=Pharma,Geo=US,Prd=Delta,Subseg=Tr1,
8,Rev,600,20171231,2,BusSeg=Pharma;Geo=NonUs;,BusSeg=Pharma,Geo=NonUs,,None,None

In [3]:
df1 = pd.read_csv(r"C:/users/k_sego/I1.csv", sep=";")
df2 = pd.read_csv(r"C:/users/k_sego/I2.csv", sep=";")

In [7]:
df = df2.merge(df1, on="Index", how="outer")

In [8]:
df

   Index    a    b   c     x     y
0      0  NaN  NaN  5.0  5.0  10.0
1      1  NaN  NaN  5.0  6.0  15.0
2      2  NaN  5.0  NaN  7.0   8.0
3      3  6.0  NaN  NaN  NaN   NaN
4      4  6.0  7.0  NaN  NaN   NaN
5      5  6.0  7.0  NaN  NaN   NaN
6      6  NaN  7.0  NaN  NaN   NaN

In [9]:
tesladf = web.DataReader("TSLA", 'yahoo', start, end).drop(columns=['Adj Close'])
tesladf.head()

NameError: name 'web' is not defined

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib as plt
dfCar = pd.read_csv(r"C:/users/k_sego/TestdataDate.csv", sep=";")

In [ ]:
dfCar.head()